{{define "modal"}}
<div class="modal-background"></div>
<button type="button" class="button center js-open-btn">
    Open Modal
</button>
<div class="modal center">
    <H1>Custom modal</H1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate unde placeat aliquam hic, nesciunt veniam voluptatum consequuntur cumque voluptate animi, aliquid dolorem maiores ut velit?</p>
    <div class="text-right">
        <button class="button close js-close-btn col">close</button>
        <button class="button js-close-btn">accept</button>
    </div>
</div>
{{end}}